body{
    background-color: black;
   
}

h1{
    color:#F86041;
    text-align: center;
    padding: 5%;
    font-size: 60px;
    animation: fade 2s forwards 0s;
    line-break: 1;
}

@keyframes fade{
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2%;
   
    
}
.option{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

button{
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    background-color: black;
    color: #F86041;
    border-radius: 10%;
    height: 5em;
    width: 6em;
    border: 1px solid #F86041;
    text-align: center;
}

#result , #choice{
    color: #F86041;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    text-align: center;

}

@media (max-width:800px){
    .option{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }
}